<p>Username: {{this.model.username}}</p>
<p>First name: {{this.model.first_name}}</p>
<p>Last name: {{this.model.last_name}}</p>
<p>Email: {{this.model.email}}</p>
<p>Gender: {{this.model.gender}}</p>
<p>Profile picture: </p>
<img src={{this.model.profile_picture}}>
{{outlet}}