<p>Name: {{this.model.name}}</p>
<p>ID: {{this.model.id}} </p>
<p>Description: {{this.model.description}}</p>
<p>Created by: {{this.model.created_by}}</p>
<p>Cover photo: {{this.model.cover_photo}}</p>
<p>Photo count: {{this.model.photo_count}}</p>
<p>Likes count: {{this.model.likes_count}}</p>
<p>Created at: {{this.model.created_at}}</p>
{{outlet}}